ion-icon {
  color: darkgray;
  margin: 15px -13px -33px 0;
  font-size: 27px;
  padding: 0px 7px 12px 0px;
}

.error-login {
  border-style: solid;
  border-color: red;
  border-width: 1px;
}

.error-text {
  color: red;
  font-size: small;
}

.icon-text {
  color: black;
}
