<ion-header [translucent]="true">
  <ion-toolbar color="toolbar">
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
      <ion-title> Tableros </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content class="dashboard-card">
      <p class="dashboard-card-text">
        Los tableros te permiten organizar tus tareas y manejar su asignación.
        Crea uno nuevo e invita a otros usuarios a que colaboren
      </p>
    </ion-card-content>
  </ion-card>
  <app-dashboard-container></app-dashboard-container>
  <!-- List here all the dashboards for the user -->
</ion-content>
