<ion-toolbar color="toolbar">
  <ion-buttons slot="start">
    <ion-back-button defaultHref="tasks" color="dark"></ion-back-button>
  </ion-buttons>
  <ion-title class="ion-text-center ion-title" color="dark"
    >Detalles de tarea</ion-title
  >
</ion-toolbar>

<ion-content *ngIf="!pending">
  <form [formGroup]="updateForm">
    <ion-card>
      <ion-card-content>
        <div class="ion-text-center">
          <ion-label>Descripcion</ion-label>
        </div>
        <ion-item class="ion-margin-bottom">
          <ion-icon
            name="pencil"
            slot="start"
            color="{{getIconColor('description')}}"
          ></ion-icon>
          <ion-input
            type="text"
            formControlName="description"
            placeholder="{{getPlaceholderText('description')}}"
          ></ion-input>
        </ion-item>
        <div class="ion-text-center">
          <ion-label>Tablero</ion-label>
        </div>
        <ion-item class="ion-margin-bottom">
          <ion-icon
            ios="clipboard-outline"
            md="clipboard-outline"
            color="primary"
            slot="start"
          ></ion-icon>
          <ion-input type="text" formControlName="dashboardName"></ion-input>
        </ion-item>
        <div class="ion-text-center">
          <ion-label>Fecha de vencimiento</ion-label>
        </div>
        <ion-item id="due-date-modal" class="ion-margin-bottom">
          <ion-datetime
            #datetime
            size="cover"
            [min]="today"
            presentation="date"
            [value]="getFormattedDueDate()"
            (ionChange)="dateSelected(datetime.value)"
          >
          </ion-datetime>
        </ion-item>
        <div class="ion-text-center">
          <ion-label>Responsable</ion-label>
        </div>
        <ion-item class="ion-margin-bottom">
          <ion-icon name="person" slot="start" color="primary"></ion-icon>
          <ion-input type="text" disabled>{{taskDetails.owner}}</ion-input>
        </ion-item>
        <ion-item>
          <ion-icon
            name="{{getPriorityIconName()}}"
            slot="start"
            color="primary"
          ></ion-icon>
          <ion-label>Prioridad</ion-label>
          <ion-select
            formControlName="priority"
            [(ngModel)]="taskDetails.priority"
          >
            <ion-select-option
              *ngFor="let priority of getPriorities$ | async"
              value="{{priority.description}}"
            >
              {{priority.description}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-icon
            name="{{getStatusIconName()}}"
            slot="start"
            color="{{getTaskStatusIconColor()}}"
          ></ion-icon>
          <ion-label>Estado</ion-label>
          <ion-select formControlName="status" [(ngModel)]="taskDetails.status">
            <ion-select-option
              *ngFor="let status of getTaskStatuses$ | async"
              value="{{status.description}}"
            >
              {{status.description}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-button
          expand="block"
          color="primary"
          class="ion-margin"
          [disabled]="disableModify()"
          >Actualizar Tarea</ion-button
        >
        <ion-button expand="block" color="success" class="ion-margin"
          >Finalizar Tarea</ion-button
        >
      </ion-card-content>
    </ion-card>
  </form>
  <div class="ion-margin">
    <ion-button
      expand="block"
      color="danger"
      (click)="deleteTask()"
      class="ion-margin"
      >Eliminar Tarea</ion-button
    >
  </div>
</ion-content>
