<ion-header>
  <ion-toolbar color="toolbar">
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
      <ion-title>Nueva tarea</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- Make icon colors change from medium to primary when value is selected -->
<ion-content [fullscreen]="true">
  <div class="spinner" *ngIf="getPrioritiesPending$ | async">
    <ion-spinner name="lines" color="primary"></ion-spinner>
  </div>
  <ion-card *ngIf="getPriorities$ | async">
    <ion-card-content>
      <ion-item>
        <ion-icon
          name="pencil"
          slot="start"
          class="ion-padding-top"
          color="medium"
        ></ion-icon>
        <ion-input type="text" required placeholder="Descripcion"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon
          name="person"
          slot="start"
          class="ion-padding-top"
          color="medium"
        ></ion-icon>
        <ion-label position="stacked">Responsable</ion-label>
        <ion-select value="03">
          <ion-select-option value="01">Alice in Chains</ion-select-option>
          <ion-select-option value="02">Green Day</ion-select-option>
          <ion-select-option value="03">Nirvana</ion-select-option>
          <ion-select-option value="04">Pearl Jam</ion-select-option>
          <ion-select-option value="05">Smashing Pumpkins</ion-select-option>
          <ion-select-option value="06">Soundgarden</ion-select-option>
          <ion-select-option value="07">Stone Temple Pilots</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-icon
          name="expand"
          slot="start"
          class="ion-padding-top"
          color="medium"
        ></ion-icon>
        <ion-label position="stacked">Prioridad</ion-label>
        <ion-select>
          <ion-select-option
            *ngFor="let priority of priorities"
            [value]="priority.id"
            >{{priority.description}}</ion-select-option
          >
        </ion-select>
      </ion-item>
      <div class="ion-text-center ion-margin-top">
        <ion-label>Fecha de vencimiento</ion-label>
      </div>
        <ion-item class="">
        <ion-datetime
        [min]="today"
        showDefaultButtons="false"
        cancelText="Salir"
        doneText="Guardar"
        presentation="date"
        (ionCancel)="showDatetime = false;"
        size="cover"
        >
        </ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Notas Adicionales</ion-label>
        <ion-textarea></ion-textarea>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-button expand="block" (click)="addTask()">Agregar Tarea</ion-button>
</ion-content>
<ion-modal trigger="open-modal">
  <ng-template>
    <!-- Check this behaviour.. when showing datetime inside a modal-->
    <ion-content [fullscreen]="false" class="modal-content">
      <ion-datetime
        [min]="today"
        showDefaultButtons="true"
        cancelText="Salir"
        doneText="Guardar"
        presentation="date"
        (ionCancel)="showDatetime = false;"
        size="cover"
      >
      </ion-datetime>
    </ion-content>
  </ng-template>
</ion-modal>
